@import "global";
@import "typo";
@import "themes";
@import "colors";
@import "variables";

html {
  font: 300 var(--font-size)/1.6 "Chivo", sans-serif;
  box-sizing: border-box;
  background: var(--background);
  color: var(--text);

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 700;
    font-size: 2rem;
  }
  h2 {
    font-weight: 300;
    font-size: 1.5rem;
  }
  h3 {
    font-weight: 700;
    font-size: 1rem;
  }
}