@import "global";
@import "typo";
@import "themes";

html {
  font: 300 #{$font-size}/#{1.6} "Chivo", sans-serif;
  box-sizing: border-box;
  background: $background;
  color: $text;
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 700;
    font-size: 2rem;
  }
  h2 {
    font-weight: 300;
    font-size: 1.5rem;
  }
  h3 {
    font-weight: 700;
    font-size: 1rem;
  }
}

