// LAB (B-SPLINE)
// source: https://components.ai/theme/N9DlRkNZZagzZJTDi4Wr
$gray-0: #000000;
$gray-1: #191919;
$gray-2: #2b2b2b;
$gray-3: #3e3e3e;
$gray-4: #545454;
$gray-5: #6c6c6c;
$gray-6: #858585;
$gray-7: #a1a1a1;
$gray-8: #bfbfbf;
$gray-9: #dfdfdf;
$gray-10: #ffffff;
$gray-blue-0: #0c0d0e;
$gray-blue-1: #1e2022;
$gray-blue-2: #2e3136;
$gray-blue-3: #40454b;
$gray-blue-4: #545961;
$gray-blue-5: #6a7078;
$gray-blue-6: #82878f;
$gray-blue-7: #9ca1a8;
$gray-blue-8: #b8bbc1;
$gray-blue-9: #d5d7db;
$gray-blue-10: #f3f4f5;
$blue-0: #0c0e18;
$blue-1: #172038;
$blue-2: #1f3159;
$blue-3: #29437b;
$blue-4: #3a579a;
$blue-5: #506db5;
$blue-6: #6c84cb;
$blue-7: #8c9edd;
$blue-8: #adb9ea;
$blue-9: #cfd6f4;
$blue-10: #f2f3fc;
$indigo-0: #110d1b;
$indigo-1: #211b3e;
$indigo-2: #312964;
$indigo-3: #423989;
$indigo-4: #574aab;
$indigo-5: #6f5fc7;
$indigo-6: #8978dd;
$indigo-7: #a493ec;
$indigo-8: #c0b1f6;
$indigo-9: #dbd1fb;
$indigo-10: #f5f2fe;
$violet-0: #170b19;
$violet-1: #2f1639;
$violet-2: #4a1e5c;
$violet-3: #65297d;
$violet-4: #80389d;
$violet-5: #9a4db8;
$violet-6: #b268ce;
$violet-7: #c887df;
$violet-8: #dba8ec;
$violet-9: #ecccf5;
$violet-10: #faf1fd;
$magenta-0: #180a15;
$magenta-1: #35142d;
$magenta-2: #531b47;
$magenta-3: #712461;
$magenta-4: #8e337b;
$magenta-5: #a94894;
$magenta-6: #c164ab;
$magenta-7: #d584c0;
$magenta-8: #e5a6d4;
$magenta-9: #f2cbe6;
$magenta-10: #fcf0f8;
$red-0: #1c0a06;
$red-1: #3b1412;
$red-2: #5c1b1a;
$red-3: #7e2424;
$red-4: #9e3332;
$red-5: #bb4944;
$red-6: #d3655d;
$red-7: #e7847b;
$red-8: #f4a79d;
$red-9: #fdcbc4;
$red-10: #fff1ee;
$orange-0: #1e0c02;
$orange-1: #3d1608;
$orange-2: #5e1e0e;
$orange-3: #7f2814;
$orange-4: #9f381f;
$orange-5: #bc4e31;
$orange-6: #d4694a;
$orange-7: #e8886b;
$orange-8: #f6aa93;
$orange-9: #fecebf;
$orange-10: #fff3ef;
$gold-0: #131006;
$gold-1: #362d13;
$gold-2: #5b4c1a;
$gold-3: #806a23;
$gold-4: #a38831;
$gold-5: #c1a345;
$gold-6: #d9ba5f;
$gold-7: #eacd7e;
$gold-8: #f6dda0;
$gold-9: #fcebc4;
$gold-10: #fff8ea;
$yellow-0: #110f05;
$yellow-1: #343013;
$yellow-2: #585319;
$yellow-3: #7c7522;
$yellow-4: #9f962f;
$yellow-5: #bdb342;
$yellow-6: #d5ca5c;
$yellow-7: #e7db7a;
$yellow-8: #f4e89b;
$yellow-9: #fbf2be;
$yellow-10: #fefae2;
$lime-0: #0e0f05;
$lime-1: #282f12;
$lime-2: #425018;
$lime-3: #5c7120;
$lime-4: #76902b;
$lime-5: #90ac3c;
$lime-6: #a8c453;
$lime-7: #bdd66f;
$lime-8: #d0e48e;
$lime-9: #e1efaf;
$lime-10: #eff7d2;
$green-0: #0a1209;
$green-1: #18341a;
$green-2: #215727;
$green-3: #2b7a36;
$green-4: #3b9b48;
$green-5: #51b95d;
$green-6: #6cd074;
$green-7: #8be18f;
$green-8: #aaeeab;
$green-9: #c9f6c9;
$green-10: #e8fce7;
$teal-0: #09120d;
$teal-1: #173125;
$teal-2: #1f523c;
$teal-3: #287355;
$teal-4: #37926d;
$teal-5: #4bae85;
$teal-6: #65c69b;
$teal-7: #82d8b1;
$teal-8: #a1e6c5;
$teal-9: #c1f1d9;
$teal-10: #e0f9ec;
$cyan-0: #091010;
$cyan-1: #183334;
$cyan-2: #225659;
$cyan-3: #2d7a7d;
$cyan-4: #3c9ca0;
$cyan-5: #51babe;
$cyan-6: #6bd2d6;
$cyan-7: #89e3e7;
$cyan-8: #a7eff2;
$cyan-9: #c4f7f9;
$cyan-10: #e0fcfd;