:root {
  --background: var(--gray-10);
  --text: var(--gray-blue-2);
  --border: var(--gray-8);
  --primary: var(--teal-9);
  --accent: var(--orange-9);
  --muted: var(--gray-blue-7);
}

html.dark {
  --background: var(--gray-0);
  --text: var(--gray-blue-8);
  --border: var(--gray-2);
  --primary: var(--teal-1);
  --accent: var(--orange-1);
  --muted: var(--gray-blue-3);
}