:root {
  /**
  * @tokens Main Colors
  * @presenter Color
  */
  --background: rgb(var(--blue-gray-11));
  --text: rgb(var(--blue-gray-4));
  --border: rgb(var(--blue-gray-4));
  --muted-border: rgb(var(--blue-gray-9));
  --primary: rgb(var(--blue-gray-3 ));
  --accent: rgb(var(--indigo-5));
  --dimmed: rgb(var(--blue-gray-10));
  --muted: rgb(var(--blue-gray-8));
  --edges: rgb(var(--indigo-9));
  
  /**
  * @tokens Status Colors
  * @presenter Color
  */
  
  --status-ok: rgb(var(--teal-6));
  --danger: rgb(var(--red-6));
  --shadow: rgba(1,6,43,0.62); // eq --blue-gray-4 on --blue-gray-11
  --selection: rgba(228,213,255,0.95); // eq --indigo-10 on --blue-gray-11
  --blend-mode: multiply;
  
  /**
  * @tokens Card Colors
  * @presenter Color
  */
  
  --primary: var(--blue-gray-3);
  --secondary: var(--blue-gray-10);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(var(--blue-gray-1));
    --text: rgb(var(--blue-gray-7));
    --border: rgb(var(--blue-gray-7));
    --primary: rgb(var(--teal-1));
    --accent: rgb(var(--indigo-4));
    --dimmed: rgb(var(--blue-gray-2));
    --muted: rgb(var(--blue-gray-4));
    --edges: rgb(var(--blue-2));

    --shadow: rgba(214,216,254,0.68); // eq --blue-gray-7 on --blue-gray-1
    --selection: rgba(29,55,126,0.8); // eq --indigo-2 on --blue-gray-1

    --blend-mode: screen;

    // card defaults
    --primary: var(--blue-gray-10);
    --secondary: var(--blue-gray-3);
  }
}