@font-face {
	font-family: 'Chivo';
	src: url('~@/assets/fonts/Chivo-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Chivo';
	src: url('~@/assets/fonts/Chivo-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}