
:root {
  /**
  * @tokens Misc
  * @presenter Border
  */
  
  --base-border: 1px solid var(--border);
  --base-border-radius: var(--spacing);

  --transition: 0.2s;

  --narrow: 360px;
  --medium: 720px;
  --wide: 1080px;

  /**
  * @tokens Spacing
  * @presenter Spacing
  */

  --spacing: 10px;
  --spacing-xs: 2.5px;
  --spacing-s: 5px;
  --spacing-m: var(--spacing);
  --spacing-l: 20px;
  --spacing-xl: 40px;

  /**
  * @tokens Card sizes
  * @presenter Spacing
  */

  --card-width: 180px;
  --card-height: 300px;
  --card-header-height: 60px;
  --card-main-height: 200px;
  --card-footer-height: 40px;

  /**
  * @tokens Shadows
  * @presenter Shadow
  */

  --base-shadow: -5px 5px 0 0 var(--shadow);
  --base-shadow-l: -10px 10px 0 0 var(--shadow);
  --shadow-l-offset: translate(5px, -5px);

  /**
  * @tokens Font Family
  * @presenter FontFamily
  */

  --font-family-sans: "Inter", sans-serif;
  --font-family-serif: "Fraunces", serif;

  /**
  * @tokens Typographic Scale
  * @presenter FontSize
  */

  --font-size: 12px;
  --font-size-l: 20px;

  /**
  * @tokens Font Weight
  * @presenter FontWeight
  */

  --regular: 350;
  --bold: 600;

  /**
  * @tokens Animation
  * @presenter Animation
  */
  --slide-right: 10s -4.5s slide-right infinite;;
}

@keyframes slide-right {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: -130%;
    width: 100%;
  }
}