$font-size: 12.5px;
$spacing: 0.8rem;

$background: var(--background);
$text: var(--text);
$border: var(--border);
$primary: var(--primary);
$accent: var(--accent);
$muted: var(--muted);

$base-border: 1px solid $border;
$base-border-radius: $spacing;

$narrow: 360px;
$medium: 720px;
$wide: 1080px;